doctype html
html
  head
    meta(charset='utf-8')
    title Test
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', type='text/css', href='style.css')
    link(rel="stylesheet" href="https://use.typekit.net/frh5qiz.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")

    //- script(defer src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js")
  body
    .header
      h2 Match Game
    |
    .stat-bar-index.stat-bar
      h2 LOGIN
      ul
        li
          a(href="register") Register
      |
      form#login
          p Email
          input(type="text" name="email" id="email")
          |
          p Password
          input(type="password" name="password" id="password")
          br
          |
          input(type="button" value="Login" id="login")
      .hr
      .login-google
          button.form-control#loginGoogle(value="Login with Google" name="loginGoogle") Login With Google
          script(async defer src='https://apis.google.com/js/platform.js?onload=renderButton')
    

    script(src='https://www.gstatic.com/firebasejs/7.21.1/firebase-app.js')
    script(src='https://www.gstatic.com/firebasejs/7.21.1/firebase-auth.js')
    script(src='https://www.gstatic.com/firebasejs/7.21.1/firebase-firestore.js')
    script(src='firebase.js')
    script(src='login.js')